.card {
  height: 250px;
}

#p-balance {
  margin-left: 10px;
}

#p-loans {
  margin-left: 10px;
}

#p-pay {
  margin-left: 10px;
}

#computer-specs {
  font-size: 17px;
  font-weight: 600;
  line-height: inherit;
}

.computer-info {
  margin: 15px 5px 0px 5px;
}

.computer-images {
  width: 40%;
}

#laptops {
  padding: 13px;
}

.myCol {
  margin-top: 50px !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 30px;
}

.stylecol {
  flex-direction: column;
  align-self: center;
}

.buyBtn {
  width: 30%;
  align-self: center;
  padding: 15px;
  border-radius: 15px;
  font-weight: bold;
  background: #2fadf7;
  margin-top: 25px;
}

.myprice {
  align-self: center;
}

#getloan {
  padding: 15px 25px 15px 25px;
}

#getBank {
  padding: 15px 25px 15px 25px;
}

#getPayAll {
  padding: 15px 25px 15px 25px;
  display: none;
}

#getWork {
  padding: 15px 25px 15px 25px;
}
